@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em; /* Espaçamento entre as linhas */
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px; /* Espaçamento entre o título e o parágrafo */
    text-align: left;
    line-height: 1.2em;
}

header, section.normal {
    padding: 20px;
}

.flex-content { /* Elemento Pai */
    padding: 20px;
    background-color: rgb(202, 200, 200);

    /* Responsividade */
    display: flex;
    flex-flow: column nowrap;
}

article.text-media { /* Configurando a quebra do vídeo */
    display: flex;
    flex-flow: row wrap; /* Quebra para baixo */
    justify-content: space-between;
}

article.media-text { /* Configurando a quebra da galinha */
    display: flex;
    flex-flow: row wrap-reverse; /* Quebra para cima */
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;
}

.media {
    flex: 1 0 500px;
}

.media > img {
    display: block;
    margin: auto; /* Centralizando */
    width: 300px; /* Diminuindo a imagem */
    padding: 10px; /* Separando o espaço entre as imagem */
}

.media > iframe {
    display: block;
    margin: auto; /* Centralizando para não ficar colado ao texto */
    width: 90%; /* Aumentando o espaço ocupado da imagem no site ao reduzir a página */
}